.row
  .col-xs-12
    = f.label :contacts
  .col-xs-3
    .form-group
      = f.text_field :contact_type, class: 'form-control'

  .col-xs-9
    .form-group
      = f.text_field :num, class: 'form-control'
  .col-xs-12
    = f.text_field :comment, class: 'form-control'
    = link_to_remove_association "remove contact", f

  // .form-group
  //   = f.label :comment
