= form_for([:admin, @place], html: { role: 'form' })  do |f|
  - if @place.errors.any?
    #error_explanation.thumbnail
      .caption
        .lead
          = I18n.t(:errors_prohibited_this_record_from_being_saved, count: @place.errors.count)
        %ul
          - @place.errors.full_messages.each do |msg|
            %li= msg

  .row
    .col-xs-6
      .form-group
        = f.label :category_id
        = f.select :category_id, Category.by_title.map{|d| [d.title, d.id] }, { include_blank: '' }, class: 'form-control'

      .form-group
        = f.label :network
        = f.text_field :network, class: 'form-control'

      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'

      .form-group
        = f.label :address_comment
        = f.text_area :address_comment, class: 'form-control'

      .form-group
        = f.label :time_work
        = f.text_area :time_work, class: 'form-control'

      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'

      #contacts
        = f.fields_for :contacts do |contacts|
          = render 'contact_fields', f: contacts
        .links
          = link_to_add_association 'add contacts', f, :contacts, class: 'btn btn-default'
      #services
        = f.fields_for :services do |services|
          = render 'service_fields', f: services
        .links
          = link_to_add_association 'add service', f, :services, class: 'btn btn-default'

      %br
      = f.submit 'Сохранить', class: 'btn btn-primary'
      = link_to 'Назад', admin_categories_path, class: 'btn btn-default'