= link_to '', '/{{category}}', class: 'link_to_room uk-hidden-small'
= link_to '', '/{{category}}', class: 'link_to_room_xs menu_button primary uk-visible-small'
.block.details.place
  .uk-grid
    .uk-width-1-1
      = form_for Place.new, url: '', html: { 'ng-submit' => 'placeUpdate()', action: 'nil', class: 'uk-form' } do |f|
        %fieldset
          %legend Редактирование
          .uk-form-row
            = f.label :address
            .uk-form-controls
              = f.text_field :address, 'ng-model' => 'edit_place.address'

          .uk-form-row
            = f.label :title
            .uk-form-controls
              = f.text_field :title, 'ng-model' => 'edit_place.title'

          .uk-form-row
            = f.label :address_comment
            .uk-form-controls
              = f.text_area :address_comment, 'ng-model' => 'edit_place.address_comment'

          .uk-form-row
            = f.label :description
            .uk-form-controls
              = f.text_area :description, 'ng-model' => 'edit_place.description'

          .uk-form-row
            = f.label :time_work
            .uk-form-controls
              = f.text_field :time_work, 'ng-model' => 'edit_place.time_work'


        .uk-grid.uk-text-center
          = f.submit 'Сохранить', class: 'uk-button uk-button-chameleon'
          %a.uk-button.uk-button-chameleon{ 'ng-click' => 'cancelEdit()'}
            Отмена

  .uk-margin-bottom
