%nav.uk-navbar
  = link_to 'Place.by', root_path, class: 'uk-navbar-brand'
  %ul.uk-navbar-nav
    %li{ class: active_menu('admin/dashboards') }
      = link_to 'Dashboard', admin_dashboards_path
    %li{ class: active_menu('admin/categories') }
      = link_to 'Категории', admin_categories_path
    %li{ class: active_menu('admin/places') }
      = link_to 'Места', admin_places_path
    %li{ class: active_menu('admin/version_drafts') }
      = link_to 'Изменения', admin_version_drafts_path

