!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title PlaceBy Admin
    = stylesheet_link_tag    'admin', media: "all"
    %script{ src: 'http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=ru' }
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    .container
      = render 'admin/partials/header'
      = yield